---
import { changeLanguage,t } from "i18next";
import { Hero } from "../../components";
import Layout from "../../layouts/Layout.astro";

changeLanguage("en");
---

<Layout>
	<main>
		<Hero heroTitle={t("hero.title")}  client:load />
	</main>
</Layout>